// YE FILE HUMNE ISLIYE DEFINE KI HAI KYUKI .env GIT PR PUSH NAI HOTI TO ISKE LIYE HUMNE .env.sample DEFINE KIA H


PORT=8000
MONGODB_URI = mongodb+srv://dkprajapati20012004:rajput12@cluster0.oggpa81.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=05632hjbdjwbTVDUWhbjkwdfeHBJhjbw89329238bdwfe6348-dfsjn3-fds3
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=05twvb640qwbTVDUWhbgd64iqrm55jbw89329238bdwfe6348-dfsjn3-fds3
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dqluat7qk
CLOUDINARY_API_KEY=462275745715433
CLOUDINARY_API_SECRET=qt_Zq8-rlajMEdYz43zYeH8ObLM